@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-color-primary: #1967D2;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #D3E3FD;
  --md-sys-color-on-primary-container: #001C3A;
  --md-sys-color-secondary: #34A853;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #B7F1C7;
  --md-sys-color-on-secondary-container: #002109;
  --md-sys-color-tertiary: #EA4335;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-surface: #FEFBFF;
  --md-sys-color-on-surface: #1A1C1E;
  --md-sys-color-surface-variant: #DFE2EB;
  --md-sys-color-on-surface-variant: #42474E;
  --md-sys-color-outline: #73777F;
  --md-sys-color-background: #FEFBFF;
  --md-sys-color-on-background: #1A1C1E;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .md3-elevation-1 {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .md3-elevation-2 {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  }

  .md3-elevation-3 {
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
}
